<h1>New Race</h1>

<%= form_with(model: @mogis, local: true) do |form| %>
  <div style="display: flex; align-items: center;">    
    <div>
      <%= form.collection_select(:mogi_type_id, MogiType.all, :id, :name, prompt: 'Select Mogi Type') %>

      <%= form.label :total_score %>
      <%= form.number_field :total_score %>

      <%= form.label :team_rank %>
      <%= form.number_field :team_rank %>

      <%= form.label :solo_rank %>
      <%= form.number_field :solo_rank %>

      <%= form.label :url %>
      <%= form.text_field :url %>

      <%= form.fields_for :mogi_results do |mogi_result_form| %>
        <div style="margin-bottom: 10px;">
          <%= mogi_result_form.collection_select :track_id, Track.all, :id, :name, prompt: 'Select Track' %>
          <%= mogi_result_form.number_field :rank, placeholder: 'Rank' %>
        </div>
      <% end %>
    </div>
  </div>

  <%= form.submit 'Create Race' %>
<% end %>
